.status_bar {
	height: var(--status-bar-height);
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 99;
}

.index_page {
	padding: 0 28rpx;
}
.uni-image {
	height: 358rpx;
	width: 100%;
}

/*在线教学*/
.const-list {
	width: 100%;
	height: 190rpx;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.recommend_title{
	font-size:28px ;
	font-weight: bolder;
}

.const-line {
	width: calc(100% / 3);
	height: 145rpx;
	float: left;
	font-weight: bolder;
}

.const-list-item {
	height: 184rpx;
	position: relative;
}

.const-list-item image {
	width: 220rpx;
	display: block;
	margin: auto;
}

.const-list-item text {
	position: absolute;
	top: 51rpx;
	left: 31rpx;
	font-size: 28rpx;
	color: #fff;
}
.studylist {
  height: auto;
  /* display: inline-block; */
}

.studyitem {
  /* margin-bottom: 10rpx; */
  display: inline-block;
  background-color: #fff;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.studylistflex {
  float: left;
}
.studyitem-right {
  line-height: 1;
  width: 85%;
}
.collecticon {
  width: 35rpx;
  height: 34rpx;
}
audio {
  margin-top: 20rpx;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.share {
  height: 50rpx;
  line-height: 50rpx;
  border-color: transparent;
  margin-right: 20rpx
}
.hr {
  width: 100%;
  height: 3rpx;
  background-color: #f5f5f5;
  margin-top: 39rpx;
  margin-bottom: 30rpx;
}
.acticleimg {
  width: 206rpx;
  height: 200rpx;
  background-size: 100% 100%;
  display: inline-block;
  margin-bottom: 20rpx;
  margin-right: 10rpx;
}
.thirdlineblock {
  display: flex
}
.thirdline {
  /* float: left; */
  /* margin-right: 120rpx;
  margin-bottom: 20rpx; */
  flex: 1;
  text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 325rpx;
}
.thirdline image {
  background-size: 100% 100%;
  margin-right: 10rpx;
  visibility: middle;
  margin-top: 5rpx;
}

.thirdline text {
  font-size: 30rpx;
  color: #999999;
}

.studyitem-middle .impression {
  font-size: 31rpx;
  line-height: 1.4;

  margin-bottom: 20rpx;
  /*关键属性（必须有的）  */
  display: -webkit-box;
  /*规定子元素的排列方向 */
  -webkit-box-orient: vertical;
  /*限制文本显示的行数  */
  -webkit-line-clamp: 3;
  /*实现多余的文字隐藏并用省略号来代表被隐藏的文字  */
  overflow: hidden;
  text-overflow: ellipsis;

}
.messageicon {
  width: 38rpx;
  height: 35rpx;
}

.shareicon {
  width: 31rpx;
  height: 33rpx;
}

/*在线教学结束*/
/*精品推荐*/
/* .recommend {
	width: 100%;
	height: 69rpx;
	background-color: #fff;
	position: relative;
	border-bottom: 15rpx solid #f5f5f5;
}

.recommendText {
	height: 33rpx;
	line-height: 33rpx;
	font-size: 30rpx;
	font-weight: bolder;
	border-left: 6rpx solid #008800;
	padding-left: 10rpx;
	position: absolute;
	top: 18rpx;
	left: 30rpx;
} */

/* 主内容 */
/* .recommend-item {
	padding: 20rpx;
	width: 100%;
	background-color: #fff;
	padding-left: 30rpx;
	padding-bottom: 6rpx;
	border-bottom: 20rpx solid #f5f5f5;
	box-sizing: border-box;
}

.item-top {
	margin-bottom: 20rpx;
	position: relative;
}

.touxiangicon {
	width: 74rpx;
	height: 74rpx;
	background-size: 100% 100%;
	border-radius: 50%;
	margin-right: 25rpx;
}

.info {
	position: absolute;
	top: 5rpx;
	left: 95rpx;
	font-size: 0;
}

.item-top .title {
	font-size: 32rpx;
	color: #008800;
	display: block;
}

.item-top .time {
	font-size: 24rpx;
	color: #848484;
	margin-right: 30rpx;
}

.item-middle {
	width: 100%;
	height: auto;
}

.item-middle .conttext {
	font-size: 31rpx;
	display: inline-block;
	margin-bottom: 20rpx;
}

.middle-image image {
	width: 31%;
	height: 200rpx;
	margin-bottom: 20rpx;
	background-size: 100% 100%;
	margin-right: 10rpx;
}

.smallicon {
	height: 85rpx;
	border-top: 3rpx solid #f5f5f5;
	margin-top: 50rpx;
}

.smallicon-flex {
	width: calc(100% / 3);
	float: left;
}

.smallicon-flex image {
	vertical-align: middle;
}

.smallicon-flex text {
	line-height: 85rpx;
	font-size: 30rpx;
	margin-left: 20rpx;
} */

/*精品推荐结束*/
/*签到*/
.containerModal {
    width: 602rpx;
    height: 660rpx;
    background-color: #2f881e;
    padding: 30rpx 20rpx 15rpx 20rpx;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }
  .btn {
    color: #2f881e;
    background-color: white;
    height: 82rpx;
    font-size: 30rpx;
    line-height: 82rpx;
    width: 372rpx;
    border-radius: 41rpx;
    margin: 22rpx auto;
  }
	.big-box {
	  position: fixed;
	  height: 100%;
	  top: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(0, 0, 0, 0.5);
	  z-index: 2;
	}
  .modalTitle {
    color: #ffffff;
    font-weight: 600;
    font-size: 52rpx;
  }

  .detail {
    color: #4f4f4f;
    font-size: 28rpx;
  }
  .date {
    coloe: #aaaaaa;
    font-size: 22rpx;
  }
  .youhuiquan {
    display: flex;
    flex-direction: row;
    height: 130rpx;
    margin-top: 10rpx;
    position: relative;
    width: 100%;
    .youhuiNum {
      background-image: linear-gradient(#e38735, #eb6930);
      width: 28%;
      height: 130rpx;
      line-height: 130rpx;
      border-radius: 10rpx 0 0 10rpx;
      color: white;
      text-align: center;
    }
    .youhuiDetail {
      background-color: #ffffff;
      width: 72%;
      height: 130rpx;
      box-sizing: border-box;
      text-align: left;
      padding-left: 22rpx;
      padding-top: 22rpx;
      border-radius: 0rpx 10rpx 10rpx 0rpx;
    }
  }
  .image {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .youhuiDetail {
    background-color: #ffffff;
  }
.dakaciclecont_daka {
	position: fixed;
	bottom: 120rpx;
	right: 10rpx;
	width: 144rpx;
	height: 144rpx;
}

.dakaciclecont_daka_flex {
	-webkit-animation-name: scaleDraw;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	/*动画播放的次数*/
	-webkit-animation-duration: 5s;
	/*动画所花费的时间*/
	position: relative;
	background: url(../../static/index/dakacicle.png);
	background-size: 100% 100%;
	width: 144rpx;
	height: 144rpx;
	text-align: center;
}
.dakaciclecont_daka_flex text{
	color: #fff;
	font-size:28rpx;
	line-height: 144rpx;
}
@keyframes scaleDraw {

	/*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
	0% {
		transform: scale(1);
		/*开始为原始大小*/
	}

	25% {
		transform: scale(1.1);
		/*放大1.1倍*/
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(1.1);
	}
}


/*签到结束*/
