/* pages/commentList/commentList.wxss */
.checked {
  color: red;
}
.active {
  color: pink;
}
page {
  background: #fff;
}
/*评价标签*/
.evaluate {
  margin: 0 40rpx;
  overflow: hidden;
}
.evaluateHeight {
  height: 55rpx;
}
.LaberList {
  float: left;
  height: 50rpx;
  line-height: 50rpx;
  border: 1px solid #eeeeee;
  border-radius: 50rpx;
  padding: 0 20rpx;
  font-size: 24rpx;
  color: #a7a7a7;
  text-align: center;
  margin-right: 20rpx;
  margin-bottom: 20rpx;
}
.checkLaber {
  border: 1px solid #fe7e44;
  color: #fe7e44;
}
.showImg {
  text-align: center;
  margin-top: 10rpx;
}
.topImg {
  width: 29rpx;
  height: 17rpx;
}
/*评价标签结束*/
/*评价主内容*/
.evaluateList {
  margin: 30rpx 40rpx 0 40rpx;
}
.userImg {
  height: 60rpx;
  width: 60rpx;
  border-radius: 50%;
  margin-right: 20rpx;
  float: left;
}
.evaluateValueRight {
  float: left;
}
.evaluateName {
  color: #000;
  font-size: 28rpx;
  /* line-height: 60rpx; */
}
.evaluateTitle {
  font-size: 24rpx;
  color: #999;
  width: 550rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 28rpx;
  /* margin-top: 16rpx; */
}
.evaluateDetails {
  font-size: 28rpx;
  color: #000;
  width: 100%;
  /* margin: auto; */
  margin-top: 20rpx;
}
.evaluateDetailsImg {
  /* width: 510rpx; */
  margin: auto;
  margin-top: 20rpx;
}

.videoUrlImg {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  position: relative;
  height: 200rpx;
  margin-bottom: 20rpx;
  overflow: hidden;
}
.evaluateDetailsImgList {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  height: 200rpx;
  margin-bottom: 20rpx;
  overflow: hidden;
}
.evaluateDetailsImgList image {
  width: 90%;
  border-radius: 10rpx;
}

.acticleimg {
  width: 90%;
  height: 200rpx;
  background-size: 100% 100%;
  display: inline-block;
}
/*评价主内容结束*/
/*固定底部导航栏*/
.twobtn {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  height: 100rpx;
  display: flex;
  justify-content: space-between;
}
.twobtncont {
  width: 50%;
  float: left;
  height: 67rpx;
  line-height: 67rpx;
  margin: 20rpx 0;
}
.add {
  width: 210rpx;
  height: 67rpx;
  line-height: 67rpx;
  border: 0;
  color: #fff;
  font-size: 30rpx;
  border-radius: 33rpx;
  outline: none;
  background: linear-gradient(to right, #fe6200, #fe6400);
}
.buy {
  width: 250rpx;
  height: 67rpx;
  line-height: 67rpx;
  border: 0;
  color: #fff;
  font-size: 30rpx;
  border-radius: 33rpx;
  outline: none;
  background: linear-gradient(to right, #ffc201, #fe9b01);
}

.add {
  width: 210rpx;
  height: 67rpx;
  line-height: 67rpx;
  border: 0;
  color: #fff;
  font-size: 30rpx;
  border-radius: 33rpx;
  outline: none;
  background: linear-gradient(to right, #fe6200, #fe6400);
}
/*固定底部导航栏结束*/
