/* pages/Signature/Signature.wxss */
.Signature{
	width: 750rpx;
}
.nav {
	/* width: 750rpx; */
  height: 106rpx;
  line-height: 106rpx;
  background-color: #080;
  text-align: center;
  position: relative;
  padding: 10rpx 30rpx;
}

.navlogo {
  width: 84rpx;
  height: 84rpx;
  background-size: 100% 100%;
  border-radius: 50%;
}

.navinfouser {
  height: 106rpx;
  position: absolute;
	right: 10rpx;
  top: 0;
}

.username {
  color: #fff;
  font-size: 24rpx;
}

.usertoux {
  width: 58rpx;
  height: 58rpx;
  background-size: 100% 100%;
  border-radius: 50%;
  position: relative;
  top: 20rpx;
  margin-left: 20rpx;
}

.banner {
  width: 100%;
  height: 358rpx;
}

.bannerimg {
  width: 100%;
  height: 100;
  background-size: 100% 100%;
}

.formcont {
  width: 100%;
  padding: 20rpx 30rpx;
	box-sizing: border-box;
  display: inline-block;
}

.section {
  width: 100%;
  height: 79rpx;
  border-radius: 10rpx;
  margin-bottom: 30rpx;
  
}
.section2 {
  margin-bottom: 30rpx;
}

.input {
  width: 70%;
  height: 79rpx;
  line-height: 79rpx;
  font-size: 32rpx;
  padding-left: 20rpx;
  background-color:#ebf6eb;
  float: left
}

.place-hoder {
  color: #b2dbb2;
  /* text-align: center; */
}

.sectionbtn {
  width: 100%;
  height: 79rpx;
  border-radius: 10rpx;
  text-align: center;
  clear:both;
}

.submitbtn {
  height: 79rpx;
  line-height: 79rpx;
  background-color: #080;
  border: none;
  color: #fff;
  font-size: 36rpx;
}

.rightfiex {
  position: fixed;
  right: 20rpx;
  bottom: 185rpx;
}
.rightfiex_cont {
  width:100rpx;
  height:100rpx;
  background:rgba(255,255,255,1);
  box-shadow:0 5rpx 15rpx 0 rgba(41,38,32,0.1);
  border-radius:50%;
  margin-bottom: 6rpx;
  padding:20rpx;
}

.hint{
  font-size: 32rpx;
  margin-right:20rpx;
  float: left;
  text-align: right;
  width:24%;
  height: 79rpx;
  line-height: 79rpx;
}

.borthday{
  position:relative;
  right:20rpx;
}

.borth-input{
  width:68%;
  height:79rpx;
  line-height:79rpx;
  font-size:32rpx;
  padding-left:20rpx;
  background-color:#ebf6eb;
  float:left;
  color:#b7dbbf;
}

.borth-inputs{
  width:68%;
  height:79rpx;
  line-height:79rpx;
  font-size:32rpx;
  padding-left:20rpx;
  background-color:#ebf6eb;
  float:left;
}



.rightfiex {
  position: fixed;
  right: 6rpx;
  bottom: 185rpx;
}
.rightfiex_cont {
  width:100rpx;
  height:100rpx;
  background:rgba(255,255,255,1);
  box-shadow:0 5rpx 15rpx 0 rgba(41,38,32,0.1);
  border-radius:50%;
  margin-bottom: 6rpx;
  padding:20rpx;
}


 .rightfiex_first{
    display: flex;
    align-items:center;
    justify-content:center;
 }
 .kufu{
   margin:auto;
   width:30px;
   height:30px;
 }
 button:after{
   border:none
 }


